<!-- Copyright (c) 2023 by Josh Adamous (https://codepen.io/joshadamous/pen/yyyqJZ) -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>예제 페이지</title>
</head>

<body>
    <hgroup>
        <h1>Material Design Form</h1>
        <h3>By Josh Adamous</h3>
      </hgroup>
      <form>
        <div class="group">
          <input id="id" type="text"><span class="highlight"></span><span class="bar"></span>
          <label>ID</label>
        </div>
        <div class="group">
          <input id="password" type="password"><span class="highlight"></span><span class="bar"></span>
          <label>Password</label>
        </div>
        <button type="button" class="button buttonBlue">Login
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      </form>
      <footer><a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
        <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank">Google</a></p>
      </footer>
</body>

</html>

